<Empty>
  <Paragraph>
    <ParaBorder>
      <BorderAll size="20" color="#30529c" style="3" />
    </ParaBorder>
    <ParaAlign style="2" />
    <br />
    Commercial Proposal for providing
    <br />
    Enterprise Core Banking Solutions to
    <space />
    <NoProof>{{.BankName}}</NoProof>
    <br />
    on Application Service Provider (ASP) Model.
    <br />
  </Paragraph>
  <Paragraph>
    <br count="2" />
    <caps>
      <b>
        <u>Submitted To:</u>
      </b>
    </caps>
    <br />
    <NoProof>The Honourable Chairman,</NoProof>
    <br />
    {{.BankName}}
    </Paragraph>
    <Paragraph>
    <br count="2" />
    <caps>
      <b>
        <u>Submitted By:</u>
      </b>
    </caps>
    <br count="2" />
    <InlineImg src="./tmpl/acute_logo.png" />
    <br/>
    {{.DocumentAuthor}}({{.DocumentAuthorDesignation}})
    <br />
    Contact No: {{.DocumentAuthorContactNo}}
    <br />
    Corporate Office: 203, Atlanta Tower, <space/><NoProof>Gulbai Tekra, Ambawadi,</NoProof><space/> Ahmedabad:
    380006. <br />
    CIN: U72200GJ2005PTC047008.
    <br />
    website: www.acuteinformatics.in
    <br count="12" />
    <i><b>
      This document is being submitted to {{.BankName}}, with a clear understanding that the contents of the same
      would not be divulged to any third party without prior written consent of
      Acute Informatics Pvt. Ltd. also Acute Informatics (P) Ltd. will not
      divulge any contents to any third party without prior written consent of
      {{.BankName}}
    </b></i>
  </Paragraph>
</Empty>
