<li>
  <h1>
    <b>Effort Estimate:</b>
  </h1>
  <Paragraph>
    <b>We are committed to sign-off the project in {{.ProjectCompletionDays}}+ working days.</b>
    <br />
    Each Branch will be converted overnight with the combined efforts of the
    Team members from both the sides.
    <br />
    The different steps that we take to give the client clear visibility into
    the work being done at client sites are:
  </Paragraph>
  <ul>
    <li>
      Fix a single point contact at our end: So that there are no multiple /
      different / ambiguous inputs to the client.
    </li>
    <li>The client is involved in the building of the team (key member).</li>
    <li>
      The team sends weekly status report, and any other custom report that the
      client needs.
    </li>
    <li>There are weekly review calls with the team.</li>
    <li>
      All bugs are entered as and when they are found in our online bug tracking
      tool for real-time access to the client. 
    </li>
    <li>
      Our QA team is completely independent of the Development team. Their task is to implement the Test Plan / Cases approved by the client.
    </li>
    <li>
      Team members are available at all times via email, phone and cell phone
      for instant and ad hoc interactions.
    </li>
    <li>
      Senior Management is available during office hours via cell phones, email for
      escalations.
    </li>
  </ul>
</li>
