<li>
  <h1><b>Investment Summary</b></h1>
  <table align="3" width="95" layout="1">
    <tableBorder>
      <BorderAll size="1" color="#000000" style="3" />
    </tableBorder>
    <tr>
      <RowShading style="3" color="#30529c" />
      <RowMargin all="3" />
      <td width="10" align="11">
        <b>Sr.No</b>
      </td>
      <td width="55" align="11">
        <b>Particulars</b>
      </td>
      <td width="17.5" align="11">
        <b>
          Amt. <br />
          (OTC)
        </b>
      </td>
      <td width="17.5" align="11">
        <b>
          Amt. <br />
          Recurring
          <br />
          (p.a/Year)
        </b>
      </td>
    </tr>
    <tr>
      <RowMargin all="3" />
      <td>1.</td>
      <td>Data Migration from existing legacy system from day one.</td>
      <td align="12">
        
      </td>
      <td align="12">-</td>
    </tr>
    <tr>
      <RowMargin all="3" />
      <td>2.</td>
      <td>Data Migration from existing legacy system from day one.</td>
      <td align="12"></td>
      <td align="12"></td>
    </tr>
    <tr>
      <RowMargin all="3" />
      <td>3.</td>
      <td>MobiPro(Android and iOS) Perpetual Licensing Cost</td>
      <td align="12"></td>
      <td align="12"></td>
    </tr>
    <tr>
      <RowMargin all="3" />
      <td>4.</td>
      <td>Net Banking (<space/><NoProof>NetPro<NoProof><space/>-View Only)</td>
      <td align="12"></td>
      <td align="12"></td>
    </tr>
    <tr>
      <RowMargin all="3" />
      <td>5.</td>
      <td>CBS-<space/><NoProof>EasyBankCore®<NoProof><space/>-Subscription Cost</td>
      <td></td>
      <td align="12">
      </td>
    </tr>
    <tr>
      <RowMargin all="3" />
      <td>6.</td>
      <td>
        LIVE DR Operations with Certification of Successful
        Operation in a FY.
      </td>
      <td align="12"></td>
      <td align="12"></td>
    </tr>
    <tr>
      <RowMargin all="3" />
      <td>7.</td>
      <td>
        Secured Network Set Up Cost (Primary Connectivity from Branches/HO to
        Hosted DC Facility and Replication Link between Hosted DC to Hosted DR
        facility included.)
      </td>
      <td align="12"></td>
      <td align="12"></td>
    </tr>
    <tr>
      <RowMargin all="3" />
      <td>8.</td>
      <td>
        VAPT Certification Cost for EasyBankCore®, DC/DR Hosted Infrastructure,
        Digital Channels (ATM, RTGS/NEFT/CTS Sub Membership etc.), MobiPro,
        NetPro
      </td>
      <td align="12"></td>
      <td align="12">
      </td>
    </tr>
    <tr>
      <RowMargin all="3" />
      <td>9.</td>
      <td>Oracle 12c Licenses for DC/DR</td>
      <td align="12"></td>
      <td align="12"></td>
    </tr>
    <tr>
      <RowMargin all="3" />
      <td colspan="2">
        <b>Total</b>
      </td>
      <td align="12">
        <b></b>
      </td>
      <td align="12">
        <b></b>
      </td>
    </tr>
  </table>
  <PageBreak/>
  <Paragraph>
    <br/>
    <i>
      <b>The contract offering includes:</b>
    </i>
  </Paragraph>
  <ul>
    <li>
      Proposed <space/><NoProof>EasyBankCore®</NoProof><space/> Licensing Subscription is for {{.BranchCount}} Branches as
      follows:
      <table width="90" layout="1" align="3">
        <tableBorder>
          <BorderAll size="1" color="#000000" style="3" />
        </tableBorder>
        <tr>
          <RowShading style="3" color="#30529c" />
          <RowMargin all="10" />
          <td width="20">Sr. No.</td>
          <td width="80">Location of Head Office/Branches</td>
        </tr>
        {{range $idx,$bName := .Branches}}
        <tr>
          <td>{{$idx}}.</td>
          <td>{{$bName}}</td>
        </tr>
        {{end}}
      </table>
    </li>
    <li>
      Browser-based CBS Software Deployment at Hosted Site (Data Centre and
      Disaster Recovery Site) for Head office and {{.BranchCount}} Branches.
    </li>
    <li>All the Modules mentioned in Module List Annexure-A.</li>
    <li>
      Hosted Infrastructure on VPS at Data Centre and Disaster Recovery
      Site (DRS) with logical and physical security.
    </li>
    <li>
      Acute Informatics Pvt. Ltd. will provide Primary Connectivity between
      Primary Data Center and above mentioned branches and Head-Office of the Bank.
    </li>
    {{if .IncludeBCPDR}}
    <li>
      {{.ReplicationLinkBandwithInMbps}} Mbps Replication link between Primary and Disaster Recovery Site for
      data replication.
    </li>
    <li>Data Replication by Log Shipping Method with RPO (Recovery Point Object) of<space/><Symbol data="<"/>={{.RPOInMinutes}} Minutes and RTO (Recovery Time Object)<space/><Symbol data="<"/>={{.RTOInMinutes}} Minutes. </li>
    <li>
      In case of Failover (Unplanned Outage of Primary Site (DC) due to any
      reason (i.e. whenever Bank gets connected with DRS, All Digital Channels
      will be in (DISBALED) suspended mode and Bank’s Secondary Connectivity
      will be used to connect to DRS for Core Banking Operations.)
    </li>
    <li>
      In case of LIVE DR Operations (Planned) (i.e. whenever Bank gets connected
      with DRS, All Digital Channels will be (ENABLED) available to bank and
      Primary Connectivity will be used to connect to DRS for Core Banking
      Operations.)
    </li>
    {{end}}
    <li>
    Software Development / Customization
    </li>
    <li>
    DC{{if .IncludeBCPDR}}/DRS{{end}} Database Administration, DC{{if .IncludeBCPDR}}/DRS{{end}} Database, Application Server Administration Maintenance and Monitoring, Network Orchestration and Monitoring.
    </li>
    <li>
    Co-ordination support after implementation. 
    </li>
    <li>
    Bug-Fixing and Post Implementation Support<br/>(On-Site, Telephonic, Web Based etc. for {{.ContractPeriodYears}} Years of Contractual Period)
    </li>
  </ul>
</li>
