<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes" xmlns:xml="http://www.w3.org/XML/1998/namespace"><Company>Acute Informatics Pvt Ltd</Company><LinksUpToDate>false</LinksUpToDate><Application>go-tmpl</Application><AppVersion>0.1</AppVersion><DocSecurity>0</DocSecurity></Properties>
